.movierow{
    margin-bottom: 30px;
}

.movierow h2 {
    margin: 0px 0px 0px 30px;
}

.movierow--listarea{
    overflow-x: hidden;
    padding-left: 30px;
}

.movierow--item{
    display: inline-block;
    width: 150px;
    cursor: pointer;
}

.movierow--item img {
    width: 100%;
    transform: scale(0.9);
    transition: all ease 0.2s;
}

.movierow--item img:hover{
    transform: scale(1);
}

.movierow--list{
    transition: all ease 0.5s;
}

.movierow--left,
.movierow--right{
    position: absolute;
    width: 40px;
    height: 225px;
    background-color: rgba(0,0,0,0.6);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
    transition: all ease 0.5s;
}

.movierow--left{
    left: 0;
}

.movierow--right{
    right: 0;
}

.movierow:hover .movierow--left, 
.movierow:hover .movierow--right{
    opacity: 1;
}

@media (max-width: 760px){
    .movierow--left,
.movierow--right{
    opacity: 1;
}
}